* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-size: 12px;
}
.wrapper {
    max-width: 1110px;
    margin: 0 auto;
    z-index: 1;
    position: relative;
    background: white;
}
nav.navbar {
    padding-top: 12px;
    padding-bottom: 32px;
}
.ve-content {
    border: 1px solid #E5E5E5;
    padding: 60px 86px 38px 86px;
}
.franja {
    width: 100%;
    position: relative;
}
.franja img {
    width: 100%;
    position: absolute;
    background: url(../images/flanja.jpg) no-repeat;
    background-size: cover;
    left: 0;
    top: 100px;
}
textarea.obs {
    background-color: #E8E8E8;
    border: 0.5px solid #CCCCCC;
}
.credits {
    padding-top: 50px;
}
.form-check {
    padding-top: 15px;
}

.main-title {
    text-align: center;
}
.main-title p {
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    max-width: 837px;
    margin: 0 auto;
}
nav ul.navbar-nav {
    padding-left: 100px;
}
.navbar-light .navbar-nav .nav-link {
    color: #717171;
    text-transform: uppercase; 
    font-size: 12px;
}
ul.navbar-nav li.nav-item:not(:last-child) {
    padding-right: 20px;
}
.desc {
    font-size: 12px;
    line-height: 18px;
    color: #717171;
}
.send {
    width: 173px;
    height: 45px;
    background: #E22045;
    border-radius: 6px;
    color:white;
    font-weight: bold;
    font-size: 13px;
    line-height: 18px;
    margin-top: 40px;
    border: 0;
}
h1 {
    color: #E22045;
    font-size: 30px;
    font-weight: 600;
    line-height: 37px;
}
h2 {
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    padding-top: 20px;
    padding-bottom: 15px;
}
.form-row .row-left {
    padding-right: 15px;
}
.form-row .row-right {
    padding-left: 15px;
}
.form-title{
    font-size: 12px;
    line-height: 18px;
    padding-top: 44px;
    padding-bottom: 25px;
}
.reclamacion {
    width: 221px;
    border: 1px solid #CCCCCC;
    height: 56px;
    font-size: 10px;
    font-weight: 600;
    line-height: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    float: right;
}
form label {
    font-size: 12px;
    line-height: 18px;
}
form input[type="text"],
form input[tye="email"],
form input[tye="date"] {
    border: 1px solid #CCCCCC;
    height: 35px;
}
footer {
    border-top: 1px solid #EDEDED;
    margin-top: 40px;
    padding-top: 30px;
}
footer .mailto {
    color: #E22045;
}
.direccion {
    font-size: 10px;
    line-height: 22px;
    padding-top: 20px;
}
.copyright {
    text-align: center;
    font-size: 11px;
    line-height: 18px;
    color: #787878;
    padding: 20px 0;
}
.footer-line {
    margin-top: 50px;
}
.footer-line:before {
    content: "";
    background: url(../images/footer.png) repeat-x;
    position: absolute;
    height: 5px;
    width: 100%;
    left: 0;
}
footer ul {
    list-style-type: none;
    text-align: right;
}
footer ul li {
    display: inline-block;
}
.footer-row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1110px;
    margin: 0 auto;
}
footer ul li {
    padding: 0 10px;
}
footer ul li {
    position: relative;
}
footer ul li:after {
    content: "|";
    position: absolute;
    color: #E22045;
    right: -3px;
    top: 0;
}
footer ul li:last-child:after {
    display: none;
}
footer ul li a {
    font-size: 11px;
    line-height: 13px;
    color: black;
    text-decoration: none;
}

/*thanks*/
.content_text {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 118px;
    padding-bottom: 60px;
}
.btn-thanks {
    width: 614px;
    height: 53px;
    background: #E22045;
    border-radius: 6px;
    font-weight: bold;
    font-size: 14px;
    line-height: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.map-content {
    background-color: #000;
    min-height: 300px;
    margin-top: 10px;
    line-height: 0;
}
.gracias footer {
    margin-top: 10px;
}
label.error {
    color: red;
}
.politica {
    display: flex;
}
.col-politica {
    width: 50%;
}
.navbar-toggler {
    color: #8bc644;
    border: none;
}
.mobile {
    display: none;
}
.navbar-toggler span {
    background-image: url('../images/menu.png') !important;
}
@media (max-width: 1024px) {
    .footer-row {
        max-width: 900px;
    }
}
@media screen and (max-width: 768px) {
    .footer-row {
        max-width: 500px;
    }
    .footer-row .col-3,
    .footer-row .col-9 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
    h1 {
        font-size: 16px;
        line-height: 20px;
    }
    .ve-content {
        padding: 30px 10px;
        border: none;
    }
    .main-title p {
        font-size: 12px;
        line-height: 20px;
    }
    .form-title {
        font-size: 12px;
        line-height: 18px;
    }
    .row-left {
        padding-right: 5px !important;
    }
    .row-right {
        padding-left: 5px !important;
    }
    h2 {
        font-size: 14px;
    }
    .politica {
        flex-wrap: wrap;
        line-height: 20px;
    }
    .col-politica {
        width: 100%;
        text-align: left !important;
    }
    .send {
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 48px;
    }
    footer {
        border-top: none;
    }
    .btn-thanks {
        font-size: 12px;
        line-height: 16px;
        padding: 0 15px;
    }
    .content_text {
        padding-top: 80px;
        padding-bottom: 0;
    }
    .gracias .ve-content {
        padding-bottom: 2px;
    }
    .map-content iframe {
        max-height: 466px;
    }
    footer .col-md-12 {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media screen and (max-width: 480px) {
    .footer-row {
        max-width: 480px;
    }
    .mobile {
        display: block;
    }
    .ul-m {
        text-align: left;
        padding-top: 14px;
    }
    .footer-line {
        margin-top: 16px;
    }
    .desktop {
        display: none;
    }
    .direccion {
        display: none;
    }
    .col-3 img{
        max-width: 100%;
    }
    .detailles {
        font-size: 10px;
        line-height: 22px;
        padding-top: 10px;
        padding-bottom: 15px;
        border-bottom: 1px solid #EDEDED;
    }
    .filamenu {
        text-align: right;
        padding-right: 15px !important;
    }
    .filamenu img {
        display: inline-block !important;
    }
}
  
  